<nav class="navbar navbar-light" style="background-color: #ce6209c5;">
    <a class="navbar-brand" href="#">Bienvenue à Bouffe-ZMEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="utilisateur/all">Liste des utilisateurs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="role/all">Roles des utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reservation/all">Liste des reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="article/all">Liste des articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="commande/all">Liste des commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='lignecommande/all'>Liste des lignes de commande</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='facture/all'>Liste des factures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='tables/all'>Liste des tables résérvées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='tables/all'>Liste des tables résérvées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='reservation/addreservation'>Effecturer une reservation</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href='utlisateur/addU'>Ajouter un utilisateur</a>
            <a class="dropdown-item" href='role/addRole'>Ajouter un rôle</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
